@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.btn-primary {
  @apply rounded bg-blue-600 px-4 py-2 text-white transition-all hover:bg-blue-800;
}

.btn-secondary {
  @apply rounded bg-gray-200 px-4 py-2 text-black transition-all hover:bg-gray-300;
}
.btn-disabled {
  @apply rounded bg-gray-600 px-4 py-2 text-white transition-all;
}

.btn-danger {
  @apply bg-red-500 px-4 py-2 text-white transition-all hover:bg-red-700;
}
